/* css for map */
.leaflet {
    height:500px;
    width: 50%;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }

  /* css for charts and html */
.holderBox {
    height: 50%;
    width: 550px;
    background-color: powderblue;
}

.mainParagraph {
    overflow: auto;
    font-size: 15px;
    padding: 5px;
}

#smallPie {
  width: 175px;
  background-color: orange;
  padding: 5px;
}

#pieLegend {
  width: 200px;
  background-color: red;
}
    

